<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/breakfast"
        android:label="Our Food App"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApp"
        tools:targetApi="31">
        <activity
            android:name=".planMeals.view.planActivity"
            android:exported="false" />
        <activity
            android:name=".search.byIngredients.view.Detailed_Ingredients"
            android:exported="false" />
        <activity
            android:name=".search.category.view.Detailed_Category"
            android:exported="false" />
        <activity
            android:name=".search.searchbycountry.view.Detailed_country"
            android:exported="false" />
        <activity
            android:name=".detailedmeal.view.DetailedMealActivity"
            android:exported="false" />
        <activity
            android:name=".search.byIngredients.view.IngredientsActivity"
            android:exported="false" />
        <activity
            android:name=".search.byIngredients.view.Search_by_ingredients_Activity"
            android:exported="false" />
        <activity
            android:name=".search.category.view.CategoryMealsActivity"
            android:exported="false" />
        <activity
            android:name=".search.category.view.CategoryActivity"
            android:exported="false" />
        <activity
            android:name=".search.searchbycountry.view.CountryMealsActivity"
            android:exported="false" />
        <activity
            android:name=".search.searchbycountry.view.Search_by_country_Activity"
            android:exported="false" />
        <activity
            android:name=".search.view.SearchActivity"
            android:exported="false" />
        <activity
            android:name=".favorite.view.Favorite_itemsActivity"
            android:exported="false" />
        <activity
            android:name=".dailyMeal.view.DailyMealActivity"
            android:exported="false" />
        <activity
            android:name=".SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".registration.view.RegistrationActivity" />
        <activity android:name=".login.view.LoginActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>